:root {
    --color1: #72768F;
    --color2: #B2B4C6;
}


* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(190deg, #161623,
            #161624);
    font-size: 16px !important;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

/* main START */
#main {
    background-image: url(../images/convertImages/main\ bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
}

/* main box START */
#main-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

/* main box END */
/* convert title START*/
#convert-title h1 {
    font-size: 60px;
    background: linear-gradient(92.49deg, rgba(255, 255, 255, 0.5) 49.68%, rgba(244, 119, 255, 0.41) 93.3%), linear-gradient(266.3deg, #FFFFFF 50.45%, #7B88FF 86.95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#convert-title p {
    padding-top: 30px;
    padding-bottom: 50px;
    color: var(--color1)
}

/* convert title END*/
/* swap box START*/
.swap-box {
    display: flex;
    flex-direction: column;
    padding: 80px;
    min-width: 60%;


    background-image: url(../images/convertImages/main-box-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #1E1F31;
    border-radius: 12px;
}

.swap-box i.bx-transfer-alt {
    color: #584CEA;
    cursor: pointer;
    font-size: 25px;
    margin-left: calc(50% - 20px);
    margin-top: 20px;
    margin-bottom: 20px;
    transform: rotate(90deg);
}

/* swap item SRART*/
.swap-item {
    min-width: 100%;
}

/* swap top part START */

.swap-top-part {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding-bottom: 5px;
    color: white;

}

.swap-top-part span:not(span:first-of-type) {
    color: var(--color1)
}

.swap-top-part #white-lines {
    color: white;
    padding-right: 3px;
}

/* swap top part END */
/* swap main item box START */
.swap-main-item-box {
    display: flex;
    position: relative;
    /* for .currency-selector-relative-box::before */
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
    background-color: #2D2E3F;


}

.swap-main-item-box:hover {
    background-color: #3b3d59;
}

input#value {
    cursor: text;
    background-color: transparent;
    border: none;
    outline: none;
    width: 69%;
    color: var(--color2);
}

input#value::placeholder {
    color: var(--color2);
}

.swap-main-item-box span {
    color: #7E9AFF;
    position: relative;
}

/* currency selector relative box START*/

.currency-selector-relative-box {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0 10px 0;
    margin-left: 5px;
    gap: 5px;
    color: white;
    font-size: 14px;

}

/* menu for each coin selection START */
.currency-selector-relative-box>ul {
    position: absolute;
    left: 0;
    top: 110%;
    width: 100%;
    background-color: #1a1b30;
    z-index: 2;
    border-radius: 5px;
    height: 270px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    box-shadow: inset 1px 1px 5px 1px #2D2E3F;
    display: none;
}

.currency-selector-relative-box>ul>li {
    display: flex;
    align-items: center;
    padding: 8px 0;


}

.currency-selector-relative-box>ul>li:hover {
    background: #2D2E3F;
}

.currency-selector-relative-box>ul>li img {

    margin: 0 5px 0 15px;


}

.currency-selector-relative-box>ul>li:first-of-type {
    border-bottom: 1px solid #72768F;
    padding: 5px 0;

}



.currency-selector-relative-box>ul>li:first-of-type i {
    font-size: 20px;
    font-weight: 900;
    margin: 0 5px;

}

.currency-selector-relative-box>ul>li>input {

    background-color: transparent;
    border: none;
    outline: none;
    padding: 10px 0;
    color: #72768F;
    width: 100%;
    font-size: 15px;
}


/* menu for each coin selection END */

.currency-selector-relative-box::before {
    content: "";
    position: absolute;
    right: 90px;
    min-width: 1px;
    height: 20px;
    background-color: #7E9AFF;
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
}

.currency-selector-relative-box img {
    max-width: 20px;
}

.currency-selector-relative-box i {
    font-size: 10px;
    padding-left: 5px;
    color: var(--color1);
}

/* currency selector relative box END*/
/* swap main item box END */
/* submit START */
.submit {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(93.96deg, #E05FBB 0.76%, #4250F4 100.57%);
    margin-top: 70px;
    padding: 18px 20px;
    font-size: 14px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

/* submit END */
/* swap item END*/
/* FAQ START */
#faq {
    min-width: 35%;
}

#faq h2 {
    color: var(--color1);
    font-size: 24px;
}

/* faq-questions START*/
.faq-questions {
    cursor: pointer;
    color: white;
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    padding: 10px 5px;
}

.faq-questions p {
    margin: 0 0 10px 0;
    line-height: 25px;
}

.faq-questions p:last-of-type {
    color: #B2B4C6;
}

.faq-questions i {
    color: var(--color1);
    font-size: 18px;
    margin: 4px 5px 0 0;
}

/* answers pop-up  START */
.a-menu {
    height: 0;
    overflow: hidden;
}

/* answers pop-up  END */

/* faq-questions END*/
/* FAQ END */
/* swap box END*/
/* main END */