header {
    /* value changed from header-footer.css */
    background: rgb(13, 20, 84) !important;

}

.container {
    width: 1200px;
    margin: 0 auto;
}

section:not(#rowOne, #apx-community) {
    background-color: #171822;
}

/* gift box START */
.gift-box {
    position: relative;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 25px;
    right: 25px;
    cursor: pointer;
    z-index: 2;
}

.gift-box img {
    overflow: hidden;
    transition: .1s linear all;
}

.gift-box:hover img {
    transform: translateY(-10px);
}

#gift-box-description {
    position: absolute;
    background: linear-gradient(180deg, #F4BD2D 0%, #E67F23 100%);
    border-radius: 7px;
    padding: 6px;
    right: 0;
    left: 0;
    bottom: -20px;
}

/* gift box END */
/*  header register section START */
#rowOne {
    padding: 70px 0 30px 0;
    background: rgb(13, 20, 84);
    background: linear-gradient(145deg, rgba(13, 20, 84, 1) 0%, rgba(37, 49, 187, 1) 37%, rgba(101, 40, 147, 1) 58%, rgba(150, 33, 117, 1) 100%);
}

/* advertisement START*/

.advertisement {

    display: flex;
    flex-direction: column;
    align-items: center;
    /* not to overwrite header */
    z-index: 2;
    overflow: hidden;
    height: 50px;

}


.advertise-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    border: 1px solid rgba(255, 255, 255, 0.185);
    width: max-content;
    border-radius: 24px;
    padding: 5px 20px;
    color: white;
    background: linear-gradient(90.39deg, rgba(102, 82, 227) 1.61%, rgba(216, 56, 231, 0.456) 100%);
    cursor: pointer;
    margin: 0 0 15px 0;
}

.advertise-items i {
    font-size: 30px;
    margin-left: -15px;
}

.advertise-btn {
    background-color: gold;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 300;
    color: black;

}


.advertisement>* {
    animation: advertise 20s ease-in-out infinite 1s;
}

@keyframes advertise {
    0% {
        transform: translateY(0);
    }


    10% {
        transform: translateY(-50px);
    }

    15% {
        transform: translateY(-50px);
    }


    25% {
        transform: translateY(-110px);
    }

    30% {
        transform: translateY(-110px);
    }

    40% {
        transform: translateY(-165px);
    }

    45% {
        transform: translateY(-165px);
    }

    55% {
        transform: translateY(-220px);
    }

    60% {
        transform: translateY(-220px);
    }

    70% {
        transform: translateY(-280px);
    }

    75% {
        transform: translateY(-280px);
    }

    85% {
        transform: translateY(-340px);
    }

    90% {
        transform: translateY(-340px);
    }

    100% {
        transform: translateY(-340px);
    }
}

/* advertisement END */
/*  header register section END */
/* row one register  START*/
.rowOne-register {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
}

.rowOne-register p:first-of-type {
    line-height: 70px;
    color: white;
    font-size: 60px;
}

.rowOne-register p:last-of-type {
    font-size: 20px;
    color: #b2b4c6;
}

.rowOne-register p:first-of-type::after {

    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: linear-gradient(132.3deg, #EA69FF -3.02%, #3E5DFF 104.99%);
    display: inline-block;
}

/* register btn start */

.register-btn {
    font-weight: 500;
    cursor: pointer;
    border: none;
    color: white;
    padding: 12px 40px;
    border-radius: 4px;
    background-image: linear-gradient(93.96deg, rgb(224, 95, 187) 0.76%, rgb(66, 80, 244) 100.57%);
    box-shadow: rgb(0 0 0 / 10%) 0px 7px 14px, rgb(0 0 0 / 8%) 0px 3px 6px, rgb(90 92 116 / 90%) 0px 0px 1px inset;
}

.register-btn:hover {
    background-image: linear-gradient(94.64deg, rgb(224, 141, 228) -19.85%, rgb(77, 81, 227) 100%);
}

.register-btn:active {
    background-image: none;
    background-color: rgb(88, 76, 234);
}

/* register btn END */
/* row one register  END*/
/* Digital currency START */
#rowOne-digital-currency {
    margin: 120px 0 0 0;
    display: flex;
    gap: 10px;
    flex-direction: column;
    overflow: hidden;
    height: 35px;

}
.digital-currency-box {
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: coinChange 15s ease-in-out infinite;
}

@keyframes coinChange {
    0% {
        transform: translateY(0);
    }

    10% {
        transform: translateY(-40px);
    }

    20% {
        transform: translateY(-40px);
    }

    30% {
        transform: translateY(-80px);
    }

    40% {
        transform: translateY(-80px);
    }

    50% {
        transform: translateY(-120px);
    }

    60% {
        transform: translateY(-120px);
    }

    70% {
        transform: translateY(-160px);
    }

    80% {
        transform: translateY(-160px);
    }

    90% {
        transform: translateY(-200px);
    }

    100% {
        transform: translateY(-200px);
    }
}


.Currency-loss {
    margin-left: 5px;
    color: rgba(29, 177, 168);
}

.digital-currency-box>div>div {
    display: inline-block;
}

.digital-currency-box img {
    margin-right: 8px;
    vertical-align: middle;
    width: 30px;
}

/* Digital currency END */
/* rowOne-horizontal-digital-currency-box START */
.rowOne-horizontal-digital-currency-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: white;
    overflow-y: hidden;
    height: 30px;
    display: none;
}
.rowOne-horizontal-digital-currency-box > div *{
    vertical-align: middle;
}
.rowOne-horizontal-digital-currency-box > div img{
    max-width: 25px;
}
.rowOne-horizontal-digital-currency-box > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    animation:horizontalCurrency 20s infinite linear ;

}
@keyframes horizontalCurrency {
 0%{
    transform: translateY(0);
 }
 10%{
    transform: translateY(-35px);
 }
 20%{
    transform: translateY(-35px);
 }
 30%{
    transform: translateY(-70px);
 }
 40%{
    transform: translateY(-70px);
 }
 50%{
    transform: translateY(-105px);
 }
 60%{
    transform: translateY(-105px);
 }
 70%{
    transform: translateY(-140px);
 }
 80%{
    transform: translateY(-140px);
 }
 90%{
    transform: translateY(-175px);
 }
 100%{
    transform: translateY(-175px);
 }
}
/* rowOne-horizontal-digital-currency-box END */
/* rowOne register proccess START */
.register-process-box {
    overflow: hidden;
    border: 1px solid white;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-weight: 300;

}

.register-process-content-box {
    position: relative;
    /* for Diagonal box*/
    padding: 30px;
}

.register-process-content-box:not(div:first-of-type) {
    cursor: pointer;
}

.register-process-content-box i {
    font-size: 25px;
    vertical-align: middle;
}

.register-process-content-box span:first-of-type {
    padding-right: 5px;
}

.register-process-content-box:last-of-type span {
    padding-right: 10px;
}

/* Diagonal box */

.absolute-line {
    transform: rotate(12deg);
    position: absolute;
    top: -50px;
    right: -50px;
    width: 1px;
    height: 200px;
    border: 1px solid rgb(255, 255, 255);

}

/* rowOne register proccess END */
/* introducing Apx START */
#introducingApx {
    background-image: url(../images/indexImages/apx-desktop-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    min-height: 600px;
    height: 700px;

    text-align: center;
    position: relative;
}

#introducingApx .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* introducing apx text START */
#introducingApx h1 {
    font-size: 48px;
    padding-top: 100px;
    color: white;
}

#introducingApx p:first-of-type {
    font-size: 20px;
    line-height: 28px;
    padding-top: 50px;
    padding-bottom: 30px;
    color: rgb(178, 180, 198);
    font-weight: 300;
}

#introducingApx a span:first-of-type {
    color: rgba(126, 154, 255);
}

#introducingApx a span:last-of-type {
    padding-left: 10px;
    color: rgb(178, 180, 198);
}

#introducingApx a i {
    vertical-align: middle;
}

/* introducing apx text END */
/* introducing apx buy START */
#apx-coin {
    padding-top: 70px;
    width: 124px;

}

#apx-price {
    color: white;
    line-height: 20px;
    font-size: 20px;
    padding-top: 100px;
}

#buy-apx-token {
    color: white;
    background: linear-gradient(93.96deg, #E05FBB 0.76%, #4250F4 100.57%);
    border: 1px solidrgba(255, 255, 255, 0.23);
    border-right: 1px solid #747bdf;
    border-radius: 5px;
    padding: 15px 70px;


    position: absolute;
    bottom: 0;
    z-index: 1;
}

#apx-token-bg {
    background: linear-gradient(93.96deg, rgba(224, 95, 187, 0.8) 0.76%, rgba(66, 80, 244, 0.8) 100.57%);
    filter: blur(30px);
    border-radius: 8px;
    min-height: 50px;
    min-width: 210px;
    position: absolute;
    bottom: 0;

}

/* introducing apx buy END */
/* introducing Apx END */
/* things to know about APX token START */
#things-about-apx-token {
    padding-top: 100px;
}

/* apx-token-things-to-know START */
#apx-token-things-to-know {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#apx-token-things-to-know img {
    width: 600px;
}

#apx-token-things-to-know p {
    margin-top: -35px;
    color: white;
    font-size: 28px;
}

/* apx-token-things-to-know END */
/* things about apx token box START */
.things-about-apx-token-box {
    color: white;
    text-align: center;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 70px;

}

.things-about-apx-token-items {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.things-about-apx-token-items .thing-about-apx-icon-bg {
    position: absolute;
    top: 80px;
    width: 250px;
}

.things-about-apx-token-items img:first-of-type {
    z-index: 1;
    width: 110px;
}

.things-about-apx-token-items h2 {
    padding-top: 23px;
    padding-bottom: 20px;
    font-size: 20px;
}

/*things-about-apx-description START*/
.things-about-apx-description {
    padding-top: 20px;
}

.things-about-apx-description p {
    padding-bottom: 5px;
    font-weight: 300;
    color: #b2b4c6;
}

/*things-about-apx-description END*/
/* things about apx token box END */
/* things to know about APX token END */
/* Advantages START */
#advantages {
    padding-top: 100px;
    color: white;
}

#advantages p:not(#advantages-title p:first-of-type) {
    font-size: 20px;
    font-weight: 300;
}

/* advantages title START */
#advantages-title p:first-of-type {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    padding-bottom: 15px;

}

#advantages-title p:last-of-type {
    color: #b2b4c6;
}

/* advantages title END */
/* advantages-rowOne START */
.advantages-box {
    display: flex;
    flex-direction: row;
    gap: 17px;
    padding-top: 30px;
    flex-wrap: wrap;

}

.advantages-box div:last-of-type .advantages-description {
    max-width: max-content;
}

.advantages-items {
    background-image: url(../images/indexImages/ad-info3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(30, 31, 49);

    display: flex;
    flex-direction: row;
    border-radius: 15px;
}

/* advantages-rowOne-description START */
.advantages-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 310px;
    padding: 40px;
}

.advantages-description h3 {
    color: #b2b4c66e;
    line-height: 25px;
}

/* advantages-rowOne-description END */
/* advantages-rowOne END */
/* Advantages END */
/* Download the app START */
#Download-the-app {
    padding-top: 100px;
    padding-bottom: 100px;
}

#Download-the-app .container>div:last-of-type .dowload-the-app-description {
    max-width: 520px;
}

.download-the-app-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.dowload-the-app-items img {
    width: 600px;
}

.dowload-the-app-title p {
    color: white;
    font-size: 40px;
    line-height: 50px;
}

.dowload-the-app-description {
    padding-top: 10px;
}

.dowload-the-app-description p {
    font-weight: 300;
    color: #b2b4c669;
    font-size: 20px;
    line-height: 25px;
}

.download-app {
    padding-top: 50px;
}

.download-app a {
    margin-right: 13px;
    padding: 16px 25px;
    background-color: rgb(59, 61, 89);
    color: white;
    border-radius: 5px;
    font-size: 17px;
}

.download-app a:hover {
    background-color: rgb(45, 46, 63);
}

.download-app a img {
    margin-right: 10px;
    vertical-align: middle;
    width: 25px;
}

/* Download the app END */
/* ApolloX Community START*/
#apx-community {
    text-align: center;
    background: url(../images/indexImages/community-bg-x.svg) no-repeat center, #1E1F31;
    min-height: 400px;
}

.apx-community-title {
    padding-top: 100px;
}

.apx-community-title p:first-of-type {
    color: white;
    font-size: 40px;
    padding-bottom: 15px;
}

.apx-community-title p:last-of-type {
    font-weight: 300;
    font-size: 20px;
    color: #b2b4c69a;
}

/* social media START */
.social-media {
    padding-top: 50px;
}

.socials {
    display: inline-block;
    color: white;
    vertical-align: middle;
    background-color: rgb(59, 61, 89);
    border-radius: 5px;
    padding: 1px 3px;
    margin-right: 15px;

    position: relative;
}

.socials:hover {
    cursor: pointer;
    background: grey;
}

.socials:hover i {
    transform: rotateX(180deg);

}

.socials img,
.socials i {
    transition: 0.3s;
    vertical-align: middle;
}

.socials i {
    padding-left: 20px;
    padding-right: 10px;
}

/* socials relative box START */

.social-media-relative-box {
    min-width: 180px;
    text-align: left;
    top: 120%;
    position: absolute;
    background-color: rgb(35, 37, 49);
    border-radius: 5px;
    padding: 10px 0;

    visibility: hidden;
    opacity: 0;
    transition: 0.1s 0.2s;
}

.socials:hover .social-media-relative-box {
    visibility: visible;
    opacity: 1;
}

.social-media-relative-box p {
    font-size: 14px;
    padding: 10px 5px 20px 10px;
    margin-right: 5px;
    font-weight: 300;
}

.social-media-relative-box p:first-of-type {
    color: rgb(126, 154, 255);
}

.social-media-relative-box p:hover {
    background-color: rgb(45, 46, 63);
}

/* telegrams relative box START*/
.telegram .social-media-relative-box {
    max-height: 250px;

    overflow-y: scroll;
}

/* telegrams relative box END*/
/* socials scroll bar START */
.telegram .social-media-relative-box::-webkit-scrollbar-thumb {
    border: 3px solid orange;
}

/* socials scroll bar END */
/* socials relative box END */
/* social media END */
/* socials icons START*/
.apx-community-socials {
    padding-top: 50px;
}

.apx-community-socials a i {
    margin-right: 15px;
    font-size: 35px;
    color: #b2b4c6;
}

/* socials icons END*/
/* ApolloX Community END*/

/* Responsive */
@media screen and (max-width:1024px) {

    /* rowOne */
    .container {
        width: 800px;
    }

    /* advertise */
    .advertise-items p {
        font-size: 12px;
    }

    /* register box */
    .register-process-box {
        flex-direction: column;
        align-items: flex-start;
        font-size: 13px;
    }

    .register-process-content-box {
        vertical-align: middle;
        padding: 10px;
        flex-direction: row;
        border-bottom: 1px solid white;
        width: 100%;
    }

    .register-process-content-box i {
        float: right;
    }

    .absolute-line {
        display: none;
    }

    /* apxtoken */
    #apx-token-things-to-know img {
        width: 400px;
    }

    #apx-token-things-to-know p {
        font-size: 18px;
    }

    .things-about-apx-token-box {
        justify-content: space-around;
    }

    /* advantages */
    .advantages-description {
        max-width: 310px;
    }

    .advantages-box {
        flex-direction: column;
    }

    .advantages-box>div:last-of-type img {
        width: 300px;
    }

    .advantages-items {
        justify-content: space-between;
    }
    /*things-about-apx-token */
    .things-about-apx-token-box{
        display: flex;
        justify-content: space-evenly;
        gap: 100px;
    }
    /* download-app */
    .download-the-app-box .dowload-the-app-items:first-of-type img {
        width: 400px;
    }

    .dowload-the-app-title p {
        font-size: 30px;
    }

    .dowload-the-app-description p {
        font-size: 15px;
    }

    .download-app a img {
        width: 20px;
    }
}

@media screen and (max-width:768px) {
    .container {
        width: 730px;
    }

    /* things-about-apx-token-items */
    .things-about-apx-token-box {
        flex-direction: column;
    }

    .things-about-apx-token-items {
        flex-direction: row;
        justify-content: space-around;
    }

    .things-about-apx-token-box>div {
        padding: 20px;
        border-radius: 10px;
    }

    .things-about-apx-token-box>div:nth-child(1) {
        background-color: rgba(0, 255, 255, 0.295);
    }

    .things-about-apx-token-box>div:nth-child(2) {
        background-color: purple;
    }

    .things-about-apx-token-box>div:nth-child(3) {
        background-color: rgb(69, 69, 248);
    }

    .things-about-apx-description {
        display: inline-block;
    }

    .things-about-apx-token-items img:last-of-type {
        display: none;
    }

    .things-about-apx-token-items img:first-of-type {
        width: 150px;
    }

    /* download-the-app */
    .download-the-app-box .dowload-the-app-items:first-of-type img {
        width: 350px;
    }

    .download-app a {
        font-size: 12px;
        padding: 10px;
    }

    /* apx-community */
    .apx-community-title p:first-of-type {
        font-size: 30px;
    }

    .apx-community-title p:last-of-type {
        font-size: 18px;
    }
    /* gift-box  */
    .gift-box{
        visibility: hidden;
    }

}
@media screen and (max-width:425px){
    .container {
        width: 390px;
    }
    /* advertisement */
    .advertise-items p,
    .advertise-items div{
        font-size: 12px;
    }
    .advertise-items{
        padding:5px 15px ;
        width: 310px;
    }
    .advertise-items i{
        font-size: 15px;
    }
    .advertise-btn{
        padding: 3px 8px;
    }
    /* rowOne-register */
    .rowOne-register p:first-of-type{
        font-size: 35px;
        line-height: 40px;
    }
    /* digital currency box */
    .digital-currency-box{
        display: none;
    }
    .rowOne-horizontal-digital-currency-box{
        display: flex;
    }
    .register-process-box{
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 300px;
    }
    /* register proccess */
    .register-process-box{
    margin-left: 45px;
    }
    /* introducing apx */
    #introducingApx h1{
        font-size: 40px;
    }
    #introducingApx p:first-of-type{
        font-size: 18px;
    }
    #introducingApx a:first-of-type{
        font-size: 12px;
    }
    #apx-coin{
        width: 90px;
    }
    /* advantages */
    #advantages-title p:first-of-type{
        font-size: 30px;
    }
    #advantages p:not(#advantages-title p:first-of-type){
        font-size: 17px;
    }
    .advantages-description h3{
        font-size: 15px;
    }
    .advantages-items{
        max-width: 400px;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .advantages-items img{
        width: 250px ;
    }
    /* download the app */
    .dowload-the-app-title p{
        font-size: 20px;
        line-height: 30px;
    }
    .download-the-app-box .dowload-the-app-items:first-of-type img {
        width: 230px;
    }
    .download-app a {
        font-size: 11px;
    }
    .download-app{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
  
    /* apollox community */
    .socials{
        padding: 3px;
        width: 150px;
    }
    .socials img{
        width: 35px;
    }
    .socials span{
        font-size: 12px;
    }
    .apx-community-socials a i{
        font-size: 30px;
    }
}