body {


    background: linear-gradient(190deg, #161623,
            #161624);

    margin: 0px;
    height: 100%;
    width: 100vw;
    color: rgb(240, 240, 245);
}

/*first row*/
#middle {
    display: flex;
    background-color: #0B0C12;
    margin-top: -64px;
    flex-direction: column;


}

#row1 {
    display: flex;
    padding-right: 16px;
    padding-bottom: 32px;
    flex-direction: column;
    align-items: flex-start;
}

@media screen and (min-width:767px) {
    #row1 {
        padding-bottom: 0;
    }
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

@media screen and (min-width:767px) {
    #main {
        background: url(https://static.apollox.com/cloud-futures/static/images/futures/assets/onboarding/invite-friends/banner-bg.png);
        background-position: -128px top;
        background-repeat: no-repeat;
    }
}

@media screen and (min-width:1023px) {
    #main {
        background: url(https://static.apollox.com/cloud-futures/static/images/futures/assets/onboarding/invite-friends/banner-bg.png);
        background-position: 0px top;
        background-repeat: no-repeat;
    }
}

@media screen and (min-width:767px) {
    #main {
        padding-bottom: 120px;
    }
}

@media screen and (min-width:1023px) {
    #main {
        padding-bottom: 66px;
    }
}

#container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 180px;
    padding-bottom: 70px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width:767px) {
    #container {
        padding-left: 25px;
        padding-right: 25px;
        flex-direction: row;
        background: url(https://static.apollox.com/cloud-futures/static/images/futures/assets/onboarding/invite-friends/banner-lighter.svg);
        background-position: center 65%;
        background-repeat: no-repeat;
    }
}

@media screen and (min-width:1023px) {
    #container {
        background: url(https://static.apollox.com/cloud-futures/static/images/futures/assets/onboarding/invite-friends/banner.svg);
        background-position: right -120px bottom;
        background-repeat: no-repeat;
    }
}

#text1st {
    color: #F0F0F5;
    font-size: 20px;
    font-weight: 500;
    max-width: unset;
    line-height: 1.4;

}

@media screen and (min-width:767px) {
    #text1st {
        font-size: 40px;
        font-weight: 700;
        max-width: 677px;
        line-height: 1.2;
    }
}

#text2nd {
    margin-top: 20px;
    font-size: 14px;
}

@media screen and (min-width:767px) {
    #text2nd {
        margin-top: 24px;
        font-size: 20px;
    }
}

/*button start*/
#button {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: inherit;
    font-weight: 500;
    text-align: center;
    padding: 10px 16px;
    line-height: 20px;
    min-width: 60px;
    color: #FFFFFF;
    border-radius: 4px;
    min-height: 24px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    background-image: linear-gradient(93.96deg, #E05FBB 0.76%, #4250F4 100.57%);
    background-color: #6B78EE;
    margin-top: 32px;
    width: 140px;
    height: 40px;
}

@media screen and (min-width:767px) {
    #button {
        margin-top: 40px;
        width: 180px;
    }
}

#button:hover {
    box-shadow: none;
    background-image: linear-gradient(94.64deg, #E08DE4 -19.85%, #4D51E3 100%);
    background-color: #6B78EE;
    opacity: 0.9;
}

/*button end*/

#fit-space {
    display: flex;
    width: 485px;
}


/*second row */
#row2 {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

@media screen and (min-width:767px) {
    #row2 {
        margin-top: 60px;
    }
}

#container2nd {
    max-width: 1200px;
    width: 100%;
}

#triplets {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
}

#one {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
    width: 100%;
    min-height: 230px;

}

@media screen and (max-width:920px) {
    #triplets {
        flex-direction: column;
    }

    #step2,
    #step3 {
        font-size: 20px !important;
    }

}

#step1 {

    max-width: 100%;
    height: auto;
    height: 96px;
}

#step2 {

    font-size: 20px;
    font-weight: 500;
    margin-top: 16px;

}

#step3 {

    font-size: 16px;
    font-weight: 400;
    color: #B2B4C6;
    margin-top: 16px;
    text-align: center;
    width: 300px;
}

/* exceptional footer style */
footer {
    background: #0B0C12 !important;
}