body {

    background: linear-gradient(to bottom, #171822, #252635);

}

/* markets start */
#markets {

    width: 80%;
    height: fit-content;
    margin: 100px auto;
    display: flex;
    flex-direction: column;

}

#markets-top {
    color: white;
    font-size: 60px;
    font-weight: bold;

}

#markets-bottom {
    display: flex;
    margin: 20px 0;

}

#left-section {

    display: flex;
    width: 100%;
}

#left-section .border-gradient {
    cursor: pointer;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    padding: 2px;
    margin: 0 10px 0 0;
    display: flex;
    background: #5a5b6b71;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
}

#left-section .border-gradient:hover {
    background: linear-gradient(to right, #d64dc6, #4343b4);

}

#left-section span {
    padding: 10px 25px;
    border-radius: 20px;
    background: #171822;
}



#left-section .border-gradient:last-of-type span {
    background: linear-gradient(to right, #d64dc6a7, #4343b4b0);
}

#right-section {
    background: #ffffff40;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    gap: 20px;
    padding: 5px 50px 5px 8px;
}

#right-section:hover {
    background: #ffffff6d;

}

#right-section input {
    background: transparent;
    border: none;
    outline: none;
    color: white;
}

#right-section i {
    color: white;
}

#right-section input::placeholder {
    color: white;
}

/* markets END */